<div class="box">
  <div class="search_header" >
    <h2 class="search_title">Buscar Profesional</h2>
    <form [formGroup]="busquedaForm" (ngSubmit)="buscar()" class="search_form">
      <div class="search_linea">
        <label class="search_label">Especialidad:</label>
        <select class="search_label-dato" formControlName="especialidad" required>
          <option [value]="item" *ngFor="let item of especialidad">{{item}}</option>
        </select>
      </div>
      <div class="search_linea">
        <label class="search_label">Motivo:</label>
        <select class="search_label-dato" formControlName="motivo" required>
          <option [value]="item" *ngFor="let item of motivos">{{item}}</option>
        </select>
      </div>
      <div class="search_linea">
        <label class="search_label"> Nombre o Email:</label>
        <input type="text" class="search_label-dato" formControlName="problema"
          placeholder="Ej: Martin/ martin@gmail.com" required>
      </div>
    </form>
    <div class="search_btn">
      <button mat-raised-button color="accent" class="btn" (click)="buscar()">Buscar</button>
      <button mat-raised-button color="accent" class="btn" (click)="clear()">Limpiar Campos</button>
      <button mat-raised-button color="accent" class="btn" (click)="cancelar.emit(false)">Cancelar</button>
    </div>
    <h2 class="search_title">Elegir Profesional</h2>
    <section>
      <div class="tbl-header">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Especialidad</th>
              <th>Trabajo Realizado </th>
              <th>Accion</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table>
          <tbody>
            <tr *ngFor="let profesional of profesionales">
              <td> {{profesional.usuario.nombre}}      </td>
              <td> {{profesional.usuario.email }}      </td>
              <td> {{profesional.profesion}}           </td>
              <td> 1                                    </td>
              <td><a [routerLink]="['../turnosDetalles', profesional.id]" (click)="datosGuardar()"> Contratar </a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>