<div class="mainContent">
    <div class="userListWrapper">
        <!-- <app-user-list></app-user-list> -->
        <div class="userList" *ngFor="let user of users ">
            <!-- <app-user-item
            [user]=user *ngFor="let user of users ">
            </app-user-item> -->
            <div class="userItem" (click)="seleccionar(user)">
              <span class="status" [ngClass]=(user.status)></span>
              <span class="userName">{{user.displayName}}</span>
            </div>
          </div>
    </div>
    <div #scroller class="feedWrapper">
        <app-feed ></app-feed>
    </div>
</div>
<div class="chatFormWrapper">
    <app-chat-form [usuario]="selecionUser"></app-chat-form>
</div>

