<p>chat-room works!</p>

<div class="mainContent">
    <div class="userListWrapper">
        <app-user-list></app-user-list>
    </div>
    <div #scroller class="feedWrapper">
        <app-feed></app-feed>
    </div>
</div>
<div class="chatFormWrapper">
    <app-chat-form></app-chat-form>
</div>

<h1>{{ item | async | json }}</h1>
<input type="text" #newname placeholder="Name" />
<input type="text" #newsize placeholder="Size" />
<br />
<button (click)="save(newname.value)">Set Name</button>
<button (click)="update(newsize.value)">Update Size</button>
<button (click)="delete()">Delete</button>