<nav class="cabecera">
    <div>
        <div *ngIf="userIsLogged()"><a href="#">Home <i class="fa fa-home fa-lg"></i> </a>
        </div>
        <div *ngIf="!userIsLogged()"> WOD <i class="fa fa-tools fa-lg"></i>
        </div>
    </div>
    <div class="enlace">
        <div *ngIf="!userIsLogged()"><a routerLink="../registar">
                REGISTRARSE <i class="fa fa-user fa-lg"></i></a>
            </div>
        <div *ngIf="!userIsLogged()"><a routerLink="../ingresar">
                INGRESAR <i class="fas fa-sign-in-alt"></i></a>
            </div>
    </div>
    <div *ngIf="userIsLogged()">
        <div> <a (click)="exit()">Salir <i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>