.cabecera{
    background-color: var(--color_uno);
    display: flex;
    justify-content: space-between;
    color: var(--color_cinco);
    align-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1rem;
    margin-top: 0em;
}
.botones{
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: transparent;
    color: var(--color_cinco);
    text-decoration:none;
    margin: 0.1rem;
    font-size: 1.1em;
}
button:hover{
    border: 0.1em solid white;
}
.enlace{
    display: flex;
    justify-content: space-between;
    min-width: 25%;
    flex-wrap: wrap;
    font-weight: bold;
}
.user{
    margin: auto 0.5em;
}
.icon{
    display: flex;
    align-items: center;
}
.logueado{
    display: flex;
}
/*Angular Material*/
.espacio {
    flex : 1  1 auto;
 }

 @media screen and (max-width: 290px) {
    .mat-toolbar.mat-primary  {
      width: 335px;
    }
    button{
        font-size: 0.6em;
    }
  }

  @media screen and (max-width: 580px) {
   
    button{
        font-size: 0.8em;
    }
  }
