<nav class="navbar navbar-dark bg-secondary">
    <ul class="navbar-nav mr-2">
        <li *ngIf="!prueba()" class="nav-item active"><a class="nav-link" href="#">
            Home <i class="fa fa-home fa-lg"></i> 
        </a></li>
        <li *ngIf="prueba()" class="nav-item active nav-link">  WOD <i class="fa fa-tools fa-lg"></i> 
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="prueba()" class="nav-item active"><a class="nav-link" routerLink="../registar">
            Registrarse <i class="fa fa-user fa-lg"></i> 
        </a></li>
    </ul>
    <ul class="navbar-nav ml-2">
        <li *ngIf="prueba()" class="nav-item active"><a class="nav-link" routerLink="../ingresar">
            Ingresar <i class="fa fa-sign-in-alt fa-lg"></i> 
        </a></li>
    </ul>
    <ul *ngIf="!prueba()" class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link" href="#">
            Salir <i class="fa fa-sign-out-alt"></i>
        </a></li>
    </ul>
</nav>



