<div class="container">
    <table>
      <mat-divider></mat-divider>
      <h2 *ngIf="noTieneTrabajos()"> NO TIENE NINGUN PRESUPUESTO CARGADO </h2>
      <div *ngIf="esCliente()">
        <div *ngFor="let elemento of trabajos">
          <app-job [consulta]="elemento" [imagen]="imagen" [estado]="publicado"></app-job>
        </div>
      </div>
      <div *ngIf="esProfesional()">
        <div *ngIf="profesional.profesion else noTiene">
          <div *ngFor="let elemento of trabajos">
            <app-job [consulta]="elemento" [imagen]="imagen" [estado]="publicado"></app-job>
          </div>
        </div>
      </div>
    </table>
  </div>
  <ng-template #noTiene style="color:black">
    <div>
      NO TIENE CARGADO SU ESPECIALIDAD, DESEA ACTUALIZARLA?
      <div class="perfil__linea">
        <label class="perfil__label">Especialidad: </label>
        <select class="search_label-dato" [(ngModel)]="opcion" required>
          <option [value]="item" *ngFor="let item of especialidad">{{item}}</option>
        </select>
      </div>
      <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
        (click)="aceptar()">Aceptar</button>
    </div>
  </ng-template>