
  <form [formGroup]="busquedaForm" (ngSubmit)="enviarConsulta()" class="card__lat-colum">
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Especialidad: </strong></label>
      <input type="text" formControlName="especialidad" placeholder="ingrese la Especialidad">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"><strong>Nombre: </strong></label>
      <input type="text" formControlName="problema" placeholder="titulo del problema">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Descripcion: </strong></label>
      <textarea rows="3" formControlName="descripcion" placeholder="Introduce la descripcion del problema"></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Provincia: </label>
      <input type="text" formControlName="provincia">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Ciudad: </label>
      <input type="text" formControlName="ciudad">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Cod Postal: </label>
      <input type="number" formControlName="codPostal">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Calle: </label>
      <input type="text" formControlName="calle">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Numero: </label>
      <input type="number" formControlName="numero">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Piso/Departamento: </label>
      <input type="text" formControlName="pisoDep">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Adjuntar un archivo</label>
      <input type="file">
    </div>
  </form>

  <mat-card-actions class="perfil__acc">
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="enviarConsulta()">Enviar Consulta </button> 
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="cancelar()">Cancelar</button> &nbsp;
  </mat-card-actions>
