
  <form [formGroup]="busquedaForm" class="card__lat-colum">
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Especialidad: </strong></label>
      <select class="search_label-dato" formControlName="especialidad" required>
        <option [value]="item" *ngFor="let item of especialidad">{{item}}</option>
      </select>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"><strong>Nombre: </strong></label>
      <input type="text" formControlName="problema" placeholder="Ej: Colocar luces" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Descripcion: </strong></label>
      <textarea rows="3" formControlName="descripcion" placeholder="Ej:Quiero colocarle luces led a una habitacion" required></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Notas: </strong></label>
      <textarea rows="2" formControlName="notas" placeholder="Ej: Solo puedo por la mañana" ></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Provincia: </label>
      <input type="text" formControlName="provincia" placeholder="Ej: Buenos Aires" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Ciudad: </label>
      <input type="text" formControlName="ciudad" placeholder="Ej: Zarate" required >
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Cod Postal: </label>
      <input type="number" formControlName="codPostal" required >
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Calle: </label>
      <input type="text" formControlName="calle" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Numero: </label>
      <input type="number" formControlName="numero" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Piso/Departamento: </label>
      <input type="text" formControlName="pisoDep">
    </div>
    <div class="perfil__linea-img">
      <div class="perfil__linea-column">
        <div appNgFile  [files]="files"
        (mouseOver)="isOverDrop = $event"
        [ngClass]="{ 'file-over': isOverDrop }"
        class="drop-zone"></div>
        <label class="perfil__label">Cargue sus imagenes</label>
        <img class="img-up" src="../../../assets/upload-file.png" alt="drop-imagen">
      </div>
      <!-- <input type="file"> -->
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre Imagen</th>
              <th>Tamanaño</th>
              <!-- <th>Progreso</th> -->
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.name }}</td>
              <td>{{ file.file.size / 1024 / 1024 | number: '2.2' }}MB</td>
              <!-- <td *ngIf="(file.uploadPercent | async); as uploadPercent">
                <div class="progress">
                  <div class="progress-bar" role="progessbar"
                    [ngStyle]="{ width: uploadPercent + '%' }"  >
                    {{ uploadPercent | number: "1.0-0" }} %
                  </div>
                </div>
              </td> -->
              <td *ngIf="file.downloadURL | async as downloadURL">
                <a [href]="downloadURL" target="_blank">Download URL</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container-buttons">
          <button  mat-raised-button (click)="files = []" class="btn btn-danger">Limpiar todo</button>
          <button  mat-raised-button class="btn" color="accent"
            (click)="onUpload()"
            [disabled]="files.length === 0"
          >
            Cargar
          </button>
        </div>
      </div>
    </div>
    
  </form>

  <mat-card-actions class="perfil__acc">
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="enviarConsulta()">Enviar Consulta </button> 
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="cancelar()">Cancelar</button> &nbsp;
  </mat-card-actions>
