
  <form [formGroup]="busquedaForm" (ngSubmit)="enviarConsulta()" class="card__lat-colum">
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Especialidad: </strong></label>
      <select class="search_label-dato" formControlName="especialidad" required>
        <option [value]="item" *ngFor="let item of especialidad">{{item}}</option>
      </select>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"><strong>Nombre: </strong></label>
      <input type="text" formControlName="problema" placeholder="Ej: Colocar luces" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Descripcion: </strong></label>
      <textarea rows="3" formControlName="descripcion" placeholder="Ej:Quiero colocarle luces led a una habitacion" required></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"> <strong>Notas: </strong></label>
      <textarea rows="2" formControlName="notas" placeholder="Ej: Solo puedo por la mañana" ></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Provincia: </label>
      <input type="text" formControlName="provincia" placeholder="Ej: Buenos Aires" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Ciudad: </label>
      <input type="text" formControlName="ciudad" placeholder="Ej: Zarate" required >
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Cod Postal: </label>
      <input type="number" formControlName="codPostal" required >
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Calle: </label>
      <input type="text" formControlName="calle" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Numero: </label>
      <input type="number" formControlName="numero" required>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Piso/Departamento: </label>
      <input type="text" formControlName="pisoDep">
    </div>
    <div class="perfil__linea">
      <label class="perfil__label">Adjuntar un archivo</label>
      <input type="file">
    </div>
  </form>

  <mat-card-actions class="perfil__acc">
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="enviarConsulta()">Enviar Consulta </button> 
    <button mat-raised-button type="submit" color="accent" class="btn" (click)="cancelar()">Cancelar</button> &nbsp;
  </mat-card-actions>
