<table>
    <mat-divider></mat-divider>
    <h2 *ngIf="noTieneTurnos()"> NO TIENE NINGUN TURNO CARGADO </h2>
    <div *ngIf="esCliente()">
        <div *ngFor="let elemento of turnos">
            <app-tuno-item [item]="elemento" [imagen]="imagen" [estado]="opcion"></app-tuno-item>
         
        </div>
    </div>
    <div *ngIf="esProfesional()">
        <div *ngIf="profesional.profesion else noTiene">
            <div *ngFor="let elemento of turnos">
                <app-tuno-item [item]="elemento" [imagen]="imagen" [estado]="opcion"></app-tuno-item>
            </div>
        </div>
    </div>
</table>

<ng-template #noTiene style="color:black">
    <div>
        NO TIENE CARGADO SU ESPECIALIDAD, DESEA ACTUALIZARLA?
        <div class="perfil__linea">
            <label class="perfil__label">Especialidad: </label>
            <select class="search_label-dato" [(ngModel)]="opcion" required>
                <option [value]="item" *ngFor="let item of especialidad">{{item}}</option>
            </select>
        </div>
        <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
            (click)="aceptar()">Aceptar</button>
    </div>
</ng-template>