<div class="container">
    <div class="cardContainer">
        <mat-card>
            <mat-card-header>
                <img height="100rem" width="100rem" src={{imagen}} />
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>
                    {{consulta.presupuesto.nombre}}
                </mat-card-title>
                <mat-card-subtitle>
                    Especialidad:
                    {{consulta.presupuesto.especialidad}}
                </mat-card-subtitle>
                <mat-icon mat-list-icon>map</mat-icon>
                {{consulta.presupuesto.direccion.calle}} {{consulta.presupuesto.direccion.altura}}
            </mat-card-content>
            <a mat-raised-button [routerLink]="['../jobDetalles', consulta.id]" color="accent" class="btn" *ngIf="esCliente()">VER</a>
            <button mat-raised-button color="accent" class="btn" *ngIf="esProfesional()" (click)="respuesta()">RESPONDER</button>
        </mat-card>

    </div>
</div>