/*Centrar el div*/
.contenedor {
  border-radius: 2.5rem;
  background-color: var(--color_uno);
  color: var(--color_dos);
  text-align: center;
  box-shadow: 0 3px 6px #eaeaea, 0 3px 6px var(--color_tres);
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 250px;
  padding: 3rem 2.3rem;
  flex-direction: column;
}

.login-key{
    display: flex;
    justify-content: space-evenly;
    color:var(--color_tres);
    font-size: 2em;
    flex-flow: row nowrap;
}

.titulo{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    display: flex;
}
.fa-key{
    font-size: 1.3em;
    padding: 0 1.4em;
} 
.login-form{
    margin-top: 2em;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-control-label{
    font-size: 0.8em;
    color: var(--color_tres,#08d9d6); 
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    margin-top: 1rem;
}
.form-control{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;

}  
.login-btm {
    float: left;
    margin-bottom: 5px;
    display: flex;
}
.btn-outline-primary {
    border-color:var(--color_tres,#08d9d6);
    color:var(--color_tres,#08d9d6);
    border-radius: 0.2em;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    text-align: center;
    margin-top: 2em;
    justify-content: center;
}

.btn-outline-primary:hover {
    background-color:var(--color_cinco,#eaeaea);
    display: flex;
}

@media screen and (max-width: 360px) {
    .contenedor {padding: 1.6em;
    font-size: 1em;
    } 
    .titulo{
        font-size: 1.5em;
    }
    .login-key{
        font-size: 0.8em;
    }
    .login-form{
        margin-top: 0.9em;
    }
    /* h1{ font-size: 1.4em;}
    .form-control-label{
      font-size: 0.8em;
    }
    .botones button{
      font-size: 0.7em;
    } */
  }