<div class="contenedor">

    <div class="login-key">
        <div class=" titulo"> Iniciar Sesion </div> <i class="fas fa-key"></i>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="login()" class="login-form">
        <label class="form__label">EMAIL</label>
        <input type="email" class="form__imput" formControlName="usuario" autocomplete="off"
            placeholder="ingrese el usuario" required>
        <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="alert">
            Error:
            <div *ngIf="usuario.errors.required"> Email requerido</div>
            <div *ngIf="usuario.errors.email"> Email incorrecto</div>
        </div>
        <label class="form__label">CONTRASEÑA</label>
        <input type="password" class="form__imput" formControlName="contrasenia" autocomplete="off"
            placeholder="ingrese la contraseña">
        <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)" class="alert">
            Error:
            <div *ngIf="contrasenia.errors.required"> Contraseña requerida </div>
            <div *ngIf="contrasenia.errors.minlength"> La contraseña debe contener 6 caracter</div>
        </div>
        <button #btn type="submit" class="btn-ingresar" [disabled]="formulario.invalid">INGRESAR</button>
        <div *ngIf=noInicioSesion class="alert"> No inicio sesion, reintente nuevamente</div>
        <div *ngIf="btn.invalid && (btn.dirty || btn.touched)" class="alert">
            Error: Ingrese los valores correspondiente
            </div>
    </form>
    <button color="accent" class="google btn-ingresar" (click)="accessGoogle()"><span class="google-texto">Ingresar
            con</span> </button>
    <span class="label-inf">Deseas crear una cuenta?<a class="form__label" routerLink="/registar">
            Registrarse</a></span>
</div>