<div class="container">
    <table>
         <h2 *ngIf="noTieneTrabajos() ">  NO TIENE NINGUN PRESUPUESTO CARGADO </h2>
      <div *ngIf="esCliente()">
        <div *ngFor="let elemento of trabajos" [routerLink]="['../jobDetails', elemento.id]" > 
         <app-job [consulta]="elemento" [imagen]="imagen" [ ]="false"></app-job>
       </div>
      </div>
      <!--div *ngIf="esProfesional()">
       <div *ngFor="let elemento of trabajos" [routerLink]="['../jobAnswer', elemento.id]"> 
        <app-job [consulta]="elemento" [imagen]="imagen" [esConsulta]="false"></app-job>
      </div>
    </div> -->
    </table>
    </div>