<div class="box" *ngIf="actualizar===2">
    <mat-card class="perfil">
        <mat-card-content class="perfil__label-cont">
            <form [formGroup]="formDatos" (ngSubmit)="updateDato()">
                <div class="card__lat">
                    <div class="perfil__linea">
                        <label class="perfil__label">Dni: </label>
                        <input type="text" formControlName="dni">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Nacionalidad: </label>
                        <input type="text" formControlName="nacionalidad">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Fecha de Nacimiento: </label>
                        <input type="date" formControlName="nacimiento">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Telefono: </label>
                        <input type="tel" formControlName="telefono">
                    </div>
                </div>
                <mat-card-actions class="perfil__acc">
                    <button mat-raised-button color="accent" class="btn" type="submit">Actualizar Datos
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <mat-card-content *ngIf="esCliente()" class="perfil__label-cont">
            <form [formGroup]="formDomicilio" (ngSubmit)="updateDireccion()">.
                <div class="card__lat">
                    <div class="perfil__linea">
                        <label class="perfil__label">Provincia: </label>
                        <input type="text">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Ciudad: </label>
                        <input type="text">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Calle: </label>
                        <input type="text">
                    </div>
                    <div class="perfil__linea">
                        <label class="perfil__label">Piso/Departamento: </label>
                        <input type="text">
                    </div>
                </div>
                <mat-card-actions class="perfil__acc">
                    <button mat-raised-button color="accent" class="btn" type="submit">Actualizar
                        Direccion
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <mat-card-actions class="perfil__acc">
            <button mat-raised-button color="accent" class="btn" (click)="cancelar.emit(false)">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="box" *ngIf="actualizar===1">
    <mat-card class="perfil">
        <mat-card-content class="perfil__label-cont">
            <div class="card__lat-colum">
                <div class="perfil__linea">
                    <label class="perfil__label">Dni: </label> <label class="perfil__label-cont">
                        {{usuarioBD.usuario.dni > 100 ?usuarioBD.usuario.dni : '-'}}</label>
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Nacionalidad: </label> <label
                        class="perfil__label-cont">{{usuarioBD.usuario.nacionalidad}} </label>
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Fecha de Nacimiento:</label> <label class="perfil__label-cont">
                        {{usuarioBD.usuario.fechaDeNacimiento| date: 'dd/MM/yyyy' }}</label>
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Telefono: </label> <label class="perfil__label-cont">
                        {{usuarioBD.usuario.telefono > 1000? usuarioBD.usuario.telefono : '-'}}</label>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="esCliente()" class="perfil__label-cont">
            <div class="card__lat-colum">
                <div class="perfil__linea">
                    <label class="perfil__label">Provincia: </label>

                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Ciudad: </label>

                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Calle: </label>
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Piso/Departamento: </label>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="perfil__acc">
            <button mat-raised-button color="accent" class="btn" (click)="cancelar.emit(false)">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>