.perfil {
    border: 1px solid var(--color_cyan-700);
    display: flex;
    flex-flow: column wrap;
    margin: 0 3em;
    background-color: white;
  }
  .card__lat {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .perfil__label-cont {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin: 0 1.5em;
  }
  
  .perfil__linea {
    display: flex;
    margin: 0 1.5em;
    align-items: baseline;
    flex-flow: row wrap;
    color: black;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid var(--color_cyan-200);
  }
  
  .perfil__label {
    text-align: center;
    font-size: 1.6em;
    color: var(--color_cyan-700, #08d9d6);
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 0.1em;
    display: flex;
  }
  
  /*Perfil Botones*/
  .perfil__acc {
    text-align: center;
    margin: 0.8em;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  
  .perfil__acc .btn {
    margin: 0.4em;
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  @media screen and (max-width: 576px) {
    .perfil__acc {
      align-content: flex-start;
    }
  }
  
  @media screen and (max-width: 768px) {
    .imag {
      width: 200px;
      height: 200px;
    }
    .perfil__label {
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 992px) {
    .perfil__label {
      font-size: 1em;
    }
  }
  