<mat-card class="perfil">
    <mat-card-content class="perfil__label-cont">
        <form [formGroup]="formulario" (ngSubmit)="updateDireccion()">.
            <div class="card__lat">
                <div class="perfil__linea">
                    <label class="perfil__label">Provincia: </label>
                    <input type="text">
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Ciudad: </label>
                    <input type="text">
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Calle: </label>
                    <input type="text">
                </div>
                <div class="perfil__linea">
                    <label class="perfil__label">Piso/Departamento: </label>
                    <input type="text">
                </div>
            </div>
            <mat-card-actions class="perfil__acc">
                <button mat-raised-button color="accent" class="btn" (click)="updateDireccion()">Actualizar Direccion
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
    <mat-card-content class="perfil__label-cont">
        <form [formGroup]="formulario2" (ngSubmit)="updateDato()">
            <div class="card__lat">
            <div class="perfil__linea">
                <label class="perfil__label">Nacionalidad: </label>
                <input type="text" formControlName="nacionalidad">
            </div>
            <div class="perfil__linea">
                <label class="perfil__label">Fecha de Nacimiento: </label>
                <input type="date" formControlName="nacimiento">
            </div>
            <div class="perfil__linea">
                <label class="perfil__label">Telefono: </label>
                <input type="tel" formControlName="telefono">
            </div>
        </div>
            <mat-card-actions class="perfil__acc">
                <button mat-raised-button color="accent" class="btn" (click)="updateDato()">Actualizar Datos </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
    <mat-card-actions class="perfil__acc">
        <button mat-raised-button color="accent" class="btn" (click)="cancelar.emit(false)">Cancelar</button>
    </mat-card-actions>
</mat-card>

<!-- <form [formGroup]="formulario" class="form" (ngSubmit)="onSubmit()">
    <h1 class="form__titulo">Crea una cuenta gratis</h1>
    <label class="form__label">EMAIL</label>
    <input type="email" formControlName="youEmail" placeholder="Ingrese su Email" autocomplete="off" required />
    <div *ngIf="youEmail.invalid && (youEmail.dirty || youEmail.touched)" class="alert">
      <div *ngIf="youEmail.errors.required"> Email requerido </div>
      <div *ngIf="youEmail.errors.email"> Email es incorrecto </div>
    </div>
    <label class="form__label">USUARIO</label>
    <input type="text" formControlName="usuario" placeholder="Ingrese su usuario" autocomplete="off" required />
    <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="alert">
      <div *ngIf="usuario.errors.required"> Usuario requerido </div>
    </div>
    <label class="form__label">CONTRASEÑA</label>
    <input type="password" formControlName="contrasenia" placeholder="Ingrese su contraseña" autocomplete="off"
      required />
    <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)" class="alert">
      <div *ngIf="contrasenia.errors.required"> Contraseña requerido </div>
      <div *ngIf="contrasenia.errors.minlength">Minimo 6 caracteres </div>
    </div>
    <label class="form__label">CONFIRMAR CONTRASEÑA</label>
    <input type="password" formControlName="confirmarContrasenia" placeholder="Ingrese de nuevo su contraseña"
      autocomplete="off" required />
    <div *ngIf="confirmarContrasenia.invalid && (confirmarContrasenia.dirty || confirmarContrasenia.touched)"
      class="alert">
      <div *ngIf="confirmarContrasenia.errors.required"> Contraseña requerido </div>
      <div *ngIf="confirmarContrasenia.errors.minlength">Minimo 6 caracteres </div>
      <div *ngIf="confirmarContrasenia.errors.notEquivalent">No son iguales</div>
    </div>
    <div class="botones">
      <button type="submit" id="btn1" [disabled]="formulario.invalid">REGISTRARSE COMO CLIENTE</button>
      <button type="submit" id="btn2" [disabled]="formulario.invalid">REGISTRARSE COMO PROFESIONAL</button>
    </div>
    <span class="label-inf">Tenés una cuenta? <a class="form__label" [routerLink]="['/ingresar']">
        Ingresar</a></span>
  </form> -->