
.container{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 .color_fondo{
     background-color: white;
 }
 .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--color_uno);
    border: none;
    display: flex;
    background-color: transparent;
    border: 1px solid var(--color_uno);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
  
  .openbtn:hover {
    background-color: var(--color_uno);
    color: var(--color_cinco);
  }
@media screen and (max-width: 360px) {
  .c {
    height: 591px;
  }
  .b {
    height: 591px;
  }
}
