<div class="box">
    <div class="search_btn">
        <button mat-raised-button color="accent" class="btn" (click)="previo()">Previos</button>
        <button mat-raised-button color="accent" class="btn" (click)="nuevo()" *ngIf="esCliente()">Nuevo</button>
        <button mat-raised-button color="accent" class="btn" (click)="proximo()">Proximos</button>
    </div>
    <div *ngIf="nuevoTurno">
        <app-turn-search (cancelar)="cancelarAll($event)"></app-turn-search>
    </div>
    <div class="container" *ngIf="previosTurno">
        <app-tuno-list [turnos]="turnos"></app-tuno-list>
    </div>

    <div class="container" *ngIf="proximoTurno">
        <app-tuno-list [turnos]="turnos"></app-tuno-list>
    </div>

</div>