<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">INFORMACION DEL PRESUPUESTO CONSULTADO</h2>
      <!-- 
            <h5 class="card-text">Nombre: {{jobData.problema}}</h5>
            <h5 class="card-text">Especialidad: {{jobData.especialidad}}</h5>
            <h5 class="card-text">Direccion: {{jobData.direccion}}</h5>
            <h5 class="card-subtitle">Fecha de Creacion: {{jobData.fecha }} </h5>
            <h5> <p class="card-text">Descripcion: {{jobData.descripcion}}</p>
          <p class="card-text">Notas: {{jobData.notas}}</p></h5> -->
    </div>
  </div>
  <span layout="row"></span>

  <section>
    <div class="tbl-header">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Monto</th>
            <th>Fecha Creada</th>
            <th>Acciones</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table>
        <tbody>
          <!-- <tr *ngFor="let oferta of jobData.ofertas" class="animate-repeat">
            <td>{{oferta.nombreApellido}}</td>
            <td>user{{oferta.idProfesional - 1}}</td>
            <td>{{oferta.monto}}</td>
            <td>{{oferta.fechaCreacion| date: 'dd/MM/yyyy' }}</td> 
            <td> <button type="button" class="btn btn-default" (click)="contratar(oferta)">
              <mat-icon>gavel</mat-icon>
            </button>
            <button type="button" class="btn btn-default" [routerLink]= "['./chat',userName()]" routerLinkActive="active">
              <mat-icon> chat</mat-icon></button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </section>

</div>