<div class="container" *ngIf="sinContratar()">
  <mat-card>
    <mat-toolbar>
      INFORMACION DEL TRABAJO A REALIZAR
    </mat-toolbar><br>
    <mat-card-content>
      <p>informacion acerca del la oferta propuesta por el tecnico,
        queda en su responsabilidad contratar sus servicios. <br></p>
    </mat-card-content>
    <mat-card-content>
      <h4 class="card-text"> <strong>Nombre: </strong> {{presupuesto.nombre}}<br></h4>
      <h4 class="card-text"><strong>Provincia: </strong> {{presupuesto.direccion.provincia}}</h4>
      <h4 class="card-text"><strong>Ciudad: </strong> {{presupuesto.direccion.ciudad}}</h4>
      <h4 class="card-text"><strong>Calle: </strong> {{presupuesto.direccion.calle}}</h4>
      <h4 class="card-text"> <strong>Altura: </strong> {{presupuesto.direccion.altura}}</h4>
      <h4 class="card-text"><strong>Fecha de Creacion: </strong>{{presupuesto.fechaCreacion| date: 'dd/MM/yyyy'}}</h4>
      <h4 class="card-text"><strong>Notas: </strong> {{presupuesto.notas}} </h4>
      <h4 class="card-text"><strong>Comentarios: </strong> {{oferta.comentario}} </h4>
      <h4 class="card-text"><strong>Precio: </strong> ${{oferta.montoAprox}} </h4>
      <strong>Fecha de Trabajo: </strong> <input type="date" min="{{datemin|date:'yyyy-MM-dd'}}">
    </mat-card-content>
    <mat-card-actions class="perfil__acc">
      <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
        (click)="aceptar()">Contratar</button> &nbsp;
      <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
        (click)="cancelar()">Volver</button>
    </mat-card-actions>
  </mat-card>

</div>

<div class="container" *ngIf="estaContratado()">
  <mat-card>
    <mat-toolbar>
      INFORMACION DEL TRABAJO CONTRATADO
    </mat-toolbar>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <ul>
        <h4 class="card-text"> <strong>Nombre: </strong> {{presupuesto.nombre}}<br></h4>
        <h4 class="card-text"><strong>Descripcion: </strong> {{presupuesto.descripcion}} </h4>
        <h4 class="card-text"><strong>Fecha de Creacion: </strong>{{presupuesto.fechaCreacion| date: 'dd/MM/yyyy'}}</h4>
        <h4 class="card-text"><strong>Especialidad: </strong> {{presupuesto.especialidad}} </h4>
        <h4 class="card-text"><strong>Precio: </strong> ${{data.presupuesto.montoFinal}} </h4>
        <h4><strong>Direccion</strong> </h4>
        <h4 class="card-text"><strong>Provincia: </strong> {{presupuesto.direccion.provincia}}</h4>
        <h4 class="card-text"><strong>Ciudad: </strong> {{presupuesto.direccion.ciudad}}</h4>
        <h4 class="card-text"><strong>Calle: </strong> {{presupuesto.direccion.calle}}</h4>
        <h4 class="card-text"> <strong>Altura: </strong> {{presupuesto.direccion.altura}}</h4>
        <h4><strong>Profesional a cargo</strong> </h4>
        <h4 class="card-text"><strong>Nombre: </strong> {{profesional.usuario.nombre}} </h4>
        <h4 class="card-text"><strong>Apellido: </strong> {{profesional.usuario.apellido}} </h4>
        <h4 class="card-text"><strong>Email: </strong> {{profesional.usuario.email}} </h4>
      </ul>
    </mat-card-content>
    <mat-card-actions class="perfil__acc">
      <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
        (click)="finalizar()">Finalizar</button> &nbsp;
      <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
        (click)="cancelar()">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" *ngIf="estaFinalizado()">
  <mat-card>
    <mat-toolbar>
      INFORMACION DEL TRABAJO
    </mat-toolbar><br>
    <mat-card-content>
      <p>informacion acerca del trabajo finalizado<br>
        <br></p>
    </mat-card-content>
  </mat-card><br>
  <mat-card>
    <mat-card-content>
      <ul>
        <h4 class="card-text"> <strong>Nombre: </strong> {{presupuesto.nombre}}<br></h4>
        <h4 class="card-text"><strong>Descripcion: </strong> {{presupuesto.descripcion}} </h4>
        <h4 class="card-text"><strong>Fecha de Creacion: </strong>{{presupuesto.fechaCreacion| date: 'dd/MM/yyyy'}}</h4>
        <h4 class="card-text"><strong>Especialidad: </strong> {{presupuesto.especialidad}} </h4>
        <h4 class="card-text"><strong>Precio: </strong> ${{data.presupuesto.montoFinal}} </h4>
        <h4><strong>Direccion</strong> </h4>
        <h4 class="card-text"><strong>Provincia: </strong> {{presupuesto.direccion.provincia}}</h4>
        <h4 class="card-text"><strong>Ciudad: </strong> {{presupuesto.direccion.ciudad}}</h4>
        <h4 class="card-text"><strong>Calle: </strong> {{presupuesto.direccion.calle}}</h4>
        <h4 class="card-text"> <strong>Altura: </strong> {{presupuesto.direccion.altura}}</h4>
        <h4><strong>Profesional a cargo</strong> </h4>
        <h4 class="card-text"><strong>Nombre: </strong> {{profesional.usuario.nombre}} </h4>
        <h4 class="card-text"><strong>Apellido: </strong> {{profesional.usuario.apellido}} </h4>
        <h4 class="card-text"><strong>Email: </strong> {{profesional.usuario.email}} </h4>
      </ul>
    </mat-card-content>
    <mat-card-actions class="perfil__acc">
      <button type="submit" mat-raised-button color="accent" class="btn" (click)="cancelar()">Volver</button>
    </mat-card-actions>
  </mat-card>

</div>