<div class="contenedor" *ngIf="!user$">
  <form [formGroup]="formulario" class="form" (ngSubmit)="onSubmit()">
    <h1 class="form__titulo">Crea una cuenta gratis</h1>
    <label class="form__label">NOMBRE</label>
    <input type="text" formControlName="nombre" placeholder="Ingrese su nombre" autocomplete="off" required />
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
      <div *ngIf="nombre.errors.required"> Nombre requerido </div>
    </div>
    <label class="form__label">APELLIDO</label>
    <input type="text" formControlName="apellido" placeholder="Ingrese su apellido" autocomplete="off" required />
    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert">
      <div *ngIf="apellido.errors.required"> Apellido requerido </div>
    </div>
    <label class="form__label">EMAIL</label>
    <input type="email" formControlName="youEmail" placeholder="Ingrese su Email" autocomplete="off" required />
    <div *ngIf="youEmail.invalid && (youEmail.dirty || youEmail.touched)" class="alert">
      <div *ngIf="youEmail.errors.required"> Email requerido </div>
      <div *ngIf="youEmail.errors.email"> Email es incorrecto </div>
    </div>
    <label class="form__label">CONTRASEÑA</label>
    <input type="password" formControlName="contrasenia" placeholder="Ingrese su contraseña" autocomplete="off"
      required />
    <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)" class="alert">
      <div *ngIf="contrasenia.errors.required"> Contraseña requerido </div>
      <div *ngIf="contrasenia.errors.minlength">Minimo 6 caracteres </div>
    </div>
    <label class="form__label">CONFIRMAR CONTRASEÑA</label>
    <input type="password" formControlName="confirmarContrasenia" placeholder="Ingrese de nuevo su contraseña"
      autocomplete="off" required />
    <div *ngIf="confirmarContrasenia.invalid && (confirmarContrasenia.dirty || confirmarContrasenia.touched)"
      class="alert">
      <div *ngIf="confirmarContrasenia.errors.required"> Contraseña requerido </div>
      <div *ngIf="confirmarContrasenia.errors.minlength">Minimo 6 caracteres </div>
      <div *ngIf="confirmarContrasenia.errors.notEquivalent">No son iguales</div>
    </div>
    <div class="botones">
      <button type="submit" id="btn1" [disabled]="formulario.invalid">REGISTRARSE COMO CLIENTE</button>
      <button type="submit" id="btn2" [disabled]="formulario.invalid">REGISTRARSE COMO PROFESIONAL</button>
    </div>
    <span class="label-inf">Tenés una cuenta? <a class="form__label" [routerLink]="['/ingresar']">
        Ingresar</a></span>
  </form>
</div>

<div class="contenedor" *ngIf="user$">
  <form [formGroup]="formulario" class="form" (ngSubmit)="onSubmit()">
    <h1 class="form__titulo">Crea una cuenta gratis</h1>
    <label class="form__label">NOMBRE</label>
    <input type="text" formControlName="nombre" placeholder="Ingrese su nombre" autocomplete="off" required />
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
      <div *ngIf="nombre.errors.required"> Nombre requerido </div>
    </div>
    <label class="form__label">APELLIDO</label>
    <input type="text" formControlName="apellido" placeholder="Ingrese su apellido" autocomplete="off" required />
    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert">
      <div *ngIf="apellido.errors.required"> Apellido requerido </div>
    </div>
    <div class="botones">
      <button type="submit" id="btn1">REGISTRARSE COMO CLIENTE</button>
      <button type="submit" id="btn2">REGISTRARSE COMO PROFESIONAL</button>
    </div>
    <span class="label-inf">Tenés una cuenta? <a class="form__label" [routerLink]="['/ingresar']">
        Ingresar</a></span>
  </form>
</div>