<div class="container">
  <div class="card">
    <div class="card-body" *ngIf="data as job">
      <h1 class="card-title">INFORMACION DEL TRABAJO</h1>
      <h3 class="card-subtitle">Nombre: {{presupuesto.nombre}}</h3>
      <h3 class="card-subtitle">Especialidad: {{presupuesto.especialidad}}</h3>
      <h3 class="card-subtitle">Calle: {{presupuesto.direccion.calle}}</h3>
      <h3 class="card-subtitle">Numero: {{presupuesto.direccion.altura}}</h3>
      <h3 class="card-subtitle">Fecha de Creacion:
        {{presupuesto.fechaCreacion | date: 'dd/MM/yyyy'}} </h3>
      <h3 class="card-subtitle">Descripcion: {{presupuesto.descripcion}}</h3>
      <h3 class="card-subtitle">Notas: {{presupuesto.notas}}</h3>
    </div>
  </div>

  <form class="card__lat-colum">
    <div class="perfil__linea">
      <label class="perfil__label"><strong>Comentario: </strong></label>
      <textarea rows="4" placeholder="Ej: El trabajo a realizar es..." [(ngModel)]="ofertaJob.comentario"
        [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="perfil__linea">
      <label class="perfil__label"><strong>Monto: </strong></label>
      <input type="number" [(ngModel)]="ofertaJob.montoAprox" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" *ngIf="!respondido()" mat-raised-button type="submit" color="accent" class="btn"
      (click)="aceptar()">Aceptar</button> &nbsp;
    <button type="submit" mat-raised-button type="submit" color="accent" class="btn"
      (click)="cancelar()">Volver</button>
      <div  class="perfil__label" *ngIf="respondido()">Usted respondio esta oferta de trabajo</div>
  </form>
</div>