<div class="container">
    <div class="cardContainer">
        <mat-card [class]="claseEstado">
                <img class="imagen" src={{imagen}} />
            <mat-card-content>
                <mat-card-title class="titulo">
                    <mat-icon>person</mat-icon>
                    {{profesional.usuario.nombre}} {{profesional.usuario.apellido}}
                </mat-card-title>
                <mat-card-title class="titulo">
                    <mat-icon>email</mat-icon> {{profesional.usuario.email}}
                </mat-card-title>
                <div class="item_subtitulo">
                    <label class="subtitulo">
                        <mat-icon>build</mat-icon> Especialidad:
                        {{profesional.profesion?profesional.profesion:'ninguna'}}
                    </label>
                    <label class="subtitulo">
                        <mat-icon>date_range</mat-icon> Fecha de Trabajo:{{item.fechaTrabajo| date: 'dd/MM/yyyy' }}
                    </label>
                </div>
            </mat-card-content>
             <div *ngIf="esCliente()" class="orden">
              <!--   <a mat-raised-button [routerLink]="['../jobDetalles', consulta.id]" color="accent" class="btn" *ngIf="estaPublicado()">DETALLES</a> -->
                <button mat-raised-button color="accent" class="btn" (click)="info()">VER DETALLES</button>
                <!-- <button mat-raised-button color="accent" class="btn" *ngIf="estaContratado()" (click)="pagar()">PAGAR</button> -->
            </div>
            <div *ngIf="esProfesional()">
                <button mat-raised-button color="accent" class="btn"  (click)="info()">VER DETALLES</button>
            </div>
        </mat-card>

    </div>
</div>