mat-card {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.6rem 5rem;
  background-color: var(--color_cyan-400);
}
mat-card-content {
  margin-left: 2rem;
  margin-right: 2rem;
}
mat-card-title .mat-card .titulo {
  margin-right: 2rem;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
mat-card-subtitle .mat-card-subtitle .subtitulo{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: white;
}
.subtitulo{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: white;
  }

.item_subtitulo{
    display: flex;
    flex-flow: column wrap;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 0.5em;
}

.cardContainer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  width: 100%;
}

/* Trabajo Botones */
.profile-userbuttons {
  text-align: center;
  margin: 0.8em;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

a {
  height: 2.5em;
  width: 8em;
  justify-content: center;
  display: flex;
  align-self: center;
}

button {
  height: 2.5em;
  width: 8em;
  justify-content: center;
  display: flex;
  align-self: center;
  margin: 0.3em 0;
}
.profile-userbuttons .btn {
  margin: 0.4em;
}
.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.orden {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
/*Imagen*/
.imagen{
    height:10em;
    width:10em;
}