<div class="contenedor">

    <div class="login-key">
        <div class=" titulo"> Recuperar tu contraseña </div>
    </div>
    <div class="login-form">
        <label class="form__label">Introduce el correo electrónico para recuperar la cuenta.</label>
        <input type="email" class="form__imput" autocomplete="off" placeholder="ingrese el email" required
            [(ngModel)]="email">
        <button type="button" class="btn-ingresar" (click)="recuperar()">Recuperar</button>
        <div class="label-inf">
            Se enviá a su correo un link para restaurar su contraseña, revise su correo electronico.
        </div>
    </div>
</div>