

<!--   <div class="barra_lateral" id="cliente">
    <nav class=""> 
            <a class=""><i class="fa fa-fw fa-home"></i> Perfil</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Chat</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Obtener Presupuesto</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Trabajo Finalizado</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Trabajo Pendiente</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Consultas</a>
    </nav>
  </div>

  <div class="barra_lateral" id="profesional">
    <nav class=" "> 
            <a class=""> <i class="fa fa-fw fa-home"></i> Perfil</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Chat</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Ofertas de Trabajos</a>
            <a class=""><i class="fa fa-fw fa-home"></i> Trabajo Finalizado</a>
            <a class=""> <i class="fa fa-fw fa-home"></i> Turnos</a>
    </nav>
  </div> -->
<!--   <div class="barra_lateral">
  <button class="btn_open" (click)="openNav()">&#9776; MENU</button>
  
  <div id="mySidepanel" class="sidepanel">
    <a  class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  
</div>
 -->
<div id="mySidebar" class="barra_lat">
  <a  class="closebtn" (click)="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button type="button" class="openbtn " (click)="openNav()">☰ MENU</button>  
 
</div>