
.barra_lat {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color:var(--color_uno);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
  }
  
  .barra_lat a {
    padding: 0.4em 0.1em;
    text-decoration: none;
    font-size: 2em;
    color:var(--color_cinco);
    transition: 0.3s;
    display: flex;
    justify-content: center;
  }
  
  .barra_lat a:hover {
    color: var(--color_tres);
  }
  
  .barra_lat .closebtn {
      padding: 0em;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--color_uno);
    border: none;
    display: flex;
    background-color: transparent;
    border: 1px solid var(--color_uno);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
  
  .openbtn:hover {
    background-color: var(--color_uno);
    color: var(--color_cinco);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 8px;
    display: flex;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 450px) {
    /* .barra_lat {padding-top: 15px;} */
    .barra_lat a {font-size: 18px;}
    .openbtn{
        margin: 0em;
        font-size: 1rem;
    }
    .barra_lat .closebtn {
        right: 6px;
    }
    #main{
        padding: 0em;
    }
  }