<div *ngIf="user$ | async">
  <div *ngIf="esCliente | async">
    <div class="barra_lat">
      <div class="linea"><a routerLink="perfil"> Perfil</a> <i class="far fa-user icon"></i> </div>
      <div class="linea"><a href="#">Chat</a> <i class="far fa-comment icon"> </i> </div>
      <div class="linea"><a href="searchPresupuesto">Buscar Presupuesto</a> <i class="fas fa-pencil-alt icon"></i> </div>
      <div class="linea"><a href="misPresupuestos">Mis Presupuestos</a> <i class="fas fa-file-contract icon"></i> </div>
      <div class="linea"><a href="#">Trabajos Pendientes</a> <i class="fas fa-hammer  icon"> </i> </div>
      <div class="linea"><a href="#">Trabajos Finalizados</a> <i class="fas fa-toolbox icon"> </i> </div>
    </div>
  </div>

  <div *ngIf="esTecnico | async">
    <div class="barra_lat">
      <div class="linea"><a routerLink="perfil"> Perfil</a> <i class="far fa-user icon"></i></div>
      <div class="linea"><a href="#">Chat</a> <i class="far fa-comment icon"> </i> </div>
      <div class="linea"><a href="misPresupuestos"> Ofertas de Trabajos</a> <i class="far fas fa-hammer  icon"></i></div>
      <div class="linea"><a href="#">Trabajo Finalizado</a> <i class="fas fa-toolbox icon"> </i> </div>
      <div class="linea"><a href="#"> Turnos</a> <i class="fas fa-file-contract icon"></i></div>
    </div>
  </div>

</div>

