
<div class="box">
	<div class="perfil">
		<!-- SIDEBAR USERPIC -->
		<img src="../../assets/perfil01.jpg" class="imag" alt="">
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name ">  </div>
			<div class="profile-usertitle-job">
				Oscarcito20 <br>
				San Jose, Frias 5001 <br>
				43251678 <br>
				oscarcito_gutierrez@gmail.com <br>
			</div>
		</div>

		<div class="profile-userbuttons">
			<button type="button">Modificar</button>
			<button type="button">Chat</button>
		</div>

	</div>
</div>
