<!-- <div class="box">
	<mat-card class="perfil">
		<img mat-card-image src="../../assets/perfil01.jpg" class="imag" alt="">
		<mat-card-content class="perfil__label-cont" *ngIf="getUser() | async as user">
			<div class="perfil__linea">
				<label class="perfil__label">Nombre: </label>
				<label class="perfil__label-dato">{{getUser()?.displayName}}</label>
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Email: </label>
				<label class="perfil__label-dato">{{getUser()?.email}}</label>
			</div>
			<div class="perfil__linea" >   
				<label class="perfil__label">Direccion: </label>
				<label class="perfil__label-dato">{{usuario.direccion}}</label>
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Telefono: </label>
				<label class="perfil__label-dato">{{usuario.telefono}}</label>
			</div>
		</mat-card-content>
		<mat-card-actions class="profile-userbuttons">
			<button mat-raised-button color="accent" class="btn" (click)="modify()">Modificar</button>
			<button mat-raised-button color="accent"  class="btn">Chat</button>
		</mat-card-actions>
	</mat-card>
</div>
<div class="box" *ngIf="actualizar">
	<app-profile-update (cancelar)="cancel($event)">
	</app-profile-update>
</div> -->
<div class="registrdo">
	Holaaaaaaaaa estas registrado
	<div class="perfil__label-cont" *ngIf="getUser() | async as user">
	</div>
</div>

