<div class="box">
	<mat-card class="perfil" >
		<img   src="{{fotoUrl}}" class="imag" alt="No se encontro imagen">
		<mat-card-content class="perfil__label-cont">
			<div class="perfil__linea" *ngIf="user$ | async as user">
				<label class="perfil__label">Nombre: </label>
				<label class="perfil__label-dato">{{user?.displayName}}</label>
			</div>
			<div class="perfil__linea"*ngIf="user$ | async as user">
				<label class="perfil__label">Email: </label>
				<label class="perfil__label-dato">{{user?.email}}</label>
			</div>
			<div class="perfil__linea" *ngIf="user$ | async as user">   
				<label class="perfil__label">Direccion: </label>
				<!-- <label class="perfil__label-dato">{{user?.direccion}}</label> -->
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Telefono: </label>
				<!-- <label class="perfil__label-dato">{{user?.telefono}}</label> -->
			</div>
		</mat-card-content>
		<mat-card-actions class="profile-userbuttons">
			<button mat-raised-button color="accent" class="btn" (click)="modify()">Modificar</button>
			<button mat-raised-button color="accent"  class="btn">Chat</button>
		</mat-card-actions>
	</mat-card>
</div>
<div class="box" *ngIf="actualizar">
	<app-profile-update (cancelar)="cancel($event)">
	</app-profile-update>
</div>
<!-- <div class="registrdo">
	Holaaaaaaaaa estas registrado
	<label class="">{{user?.email}}</label>
	<label class="">{{user?.displayName}}</label>
</div>
 -->
