<div class="box" *ngIf="user$ | async as user else load">
	<mat-card class="perfil">
		<div class="perfil__label-cont">
			<!-- <img [src]="(fotoServicio|async) ? fotoServicio: fotoDefault" class="imag" alt="No se encontro imagen"> -->
			<img  [src]="fotoServicio | async" class="imag" alt="No se encontro imagen"/>
			<button mat-raised-button (click)="verImg()"> <mat-icon >add_a_photo</mat-icon> </button><br>
			<!-- <a *ngIf="showImg" [href]="downloadURL | async">Descargar Imagen: {{ downloadURL | async }}</a> -->
		<!-- 	<img *ngIf="user?.photoURL" src="{{user?.photoURL}}" class="imag" alt="No se encontro imagen">
			<img *ngIf="!user?.photoURL" src="../../assets/perfil01.jpg" class="imag" alt="No se encontro imagen"> -->
			<input *ngIf="showImg" type="file" (change)="onUpload($event)">
		</div>
		<mat-card-content class="perfil__label-cont">
			<div class="perfil__linea">
				<label class="perfil__label">Nombre: </label>
				<label class="perfil__label-dato">{{usuarioBDatos.usuario?.nombre}}</label>
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Apellido: </label>
				<label class="perfil__label-dato">{{usuarioBDatos.usuario?.apellido}}</label>
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Email: </label>
				<label class="perfil__label-dato">{{user?.email}}</label>
			</div>
			<div class="perfil__linea">
				<label class="perfil__label">Telefono: </label>
				<label
					class="perfil__label-dato">{{usuarioBDatos.usuario.telefono > 0 ?usuarioBDatos.usuario.telefono : '-'}}</label>
			</div>
		</mat-card-content>
		<mat-card-actions class="profile-userbuttons">
			<button mat-raised-button color="accent" class="btn" (click)="modify()">Modificar</button>
			<button mat-raised-button color="accent" class="btn" (click)="verDato()">Ver Datos</button>
			<button mat-raised-button color="accent" class="btn">Chat</button>
		</mat-card-actions>
	</mat-card>
</div>

<app-profile-update [actualizar]="actualizar" (cancelar)="cancel($event)" (update)="updateDatos($event)">
</app-profile-update>


<ng-template #load style="color:black">
	Cargando....
</ng-template>