/* You can add global styles to this file, and also import other style files */
:root {
    --color_uno:#252a34;
    --color_dos:#7049ffe0;
    --color_tres:#08d9d6;
    --color_cuatro:#ff2e63;
    --color_cinco:#eaeaea;
}
*{
    box-sizing: border-box;
    margin:0px;
  }