.form {
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: var(--color_uno, #252a34);
  box-shadow: 0 3px 6px #eaeaea, 0 3px 6px #08d9d6;
  display: flex;
  flex-flow: column nowrap;
  margin: 11em auto 10.5em auto;
  min-width: 250px;
  max-width: 600px;
}

.form_titulo {
  padding: 0.2em;
  display: flex;
  justify-content: center;
  color: var(--color_tres);
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
}

.form_dato {
  font-size: 0.8em;
  color: var(--color_tres, #08d9d6);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.form input {
  border-radius: 0.5rem;
  padding: 0.6em;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  background: #ebf5fc;
}
.botones {
  margin-top: 1em;
}
.botones button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.875rem;
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 0.875em;
  cursor: pointer;
  margin-top: 0.8em;
  background-color: var(white, --color_cinco);
  border-color: var(--color_tres, #08d9d6);
  border: 1px solid;
  color: var(--color_uno);
  border-radius: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.botones button:hover {
  background-color: var(--color_tres, #eaeaea);
}
.label-inf {
  margin-top: 0.8em;
}
.form-control-label {
  font-size: 0.8em;
  color: var(--color_tres, #08d9d6);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.alert{
  text-align: center;
    background-color:var(--color_cuatro);
    color: var(--color_uno);
    border: 0.2em solid black;
    border-radius: 0.5em;
}

@media screen and (max-width: 320px) {
  .form {
    padding: 1.4em;
    font-size: 1em;
  }
  .form_titulo {
    font-size: 1.4em;
  }
  .form_dato {
    font-size: 0.8em;
  }
  .botones button {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 560px) {
  .form {
    padding: 1.6em;
    font-size: 1em;
    margin: 7em 2em;
  }
  .form_titulo {
    font-size: 1.5em;
  }
}
