<form class="form">
  <h1 class="form_titulo">Crea una cuenta gratis</h1>
  <label class="form_dato">EMAIL</label>
  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su Email"
    autocomplete="off" required />
  <label class="form_dato">USUARIO</label>
  <input type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su usuario"
    autocomplete="off" required />
  <label class="form_dato">CONTRASEÑA</label>
  <input type="password" [(ngModel)]="contrasenia" [ngModelOptions]="{standalone: true}"
    placeholder="Ingrese su contraseña" autocomplete="off" required />
  <label class="form_dato">CONFIRMAR CONTRASEÑA</label>
  <input type="password" [(ngModel)]="confirmarContrasenia" [ngModelOptions]="{standalone: true}"
    placeholder="Ingrese de nuevo su contraseña" autocomplete="off" required />
  <div class="botones">
    <button (click)="register()">REGISTRARSE COMO CLIENTE</button>
    <button (click)="register()">REGISTRARSE COMO PROFESIONAL</button>
  </div>
</form>